/*document styles*/
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 90px;
    line-height: 150px;
    letter-spacing: 00.1em;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    background-color: #9900FF;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 2rem;
}

h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: center;
}

#alt {
    text-align:left;
    color:#ffffff;
}

#altB {
    text-align:center;
    color:#ffffff;
}
h4 {
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
}

p {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    padding-top: 10px;
    overflow-wrap: break-word;
}

#dollopText {
    display: flex;
    width:192px;
    height: auto;
    position: absolute;
    align-items: center;
    font-family: "Archivo", sans-serif;
    font-size: 24pt;
    font-weight: 500 !important;
    line-height: 32px;
    color: white !important;
    text-align: center !important;
    overflow-wrap: anywhere; 
}

#dollopText-Black {
    display: flex;
    width:188px;
    height: 152px;
    position: absolute;
    align-items: center;
    font-family: "Archivo", sans-serif;
    font-size: 24pt;
    font-weight: 500 !important;
    line-height: 33px;
    color: #000000 !important;
    text-align: center !important;
    text-justify: center !important;
}

#purple.lineArt {
    width: 820px;
    height: 16px;
    background-color:#9900FF;
}

#orange.lineArt {
    width: 820px;
    height: 16px;
    background-color:#F28A2E;
}

#blue.lineArt {
    width: 820px;
    height: 16px;
    background-color:#64A4EB;
}

.boxHeader-Pink {
    display: flex;
    width: 400px;
    height: 80px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    position: relative;
    align-content: center;
    justify-content: center;
    border: 3px solid #ff28B1;
    align-self: center;
    font-family: 'Archivo', sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color:#ff28B1;
    text-align: center;
}

.boxHeader-Purple {
    display: flex;
    width: 400px;
    height: 80px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    position: relative;
    align-content: center;
    justify-content: center;
    border: 3px solid #9900FF;
    align-self: center;
    font-family: 'Archivo', sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color:#9900FF;
    text-align: center;
}

#boxHeader-Small {
    font-size: 24pt !important;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:505px;
}

#ul-Concluding {
    margin-top: 2rem;
}
li {
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#listItem-Center {
    left: 10rem;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38.5rem;
    background-color: #64A4EB;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0 207px 0 207px;
}

.heroItems {
    display: flex;
    flex-direction: column;
    width: 31.4rem;
    height: 36.1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

#textHero.heroItems {
    gap:2rem;
    padding-top: 2rem;
}

.sectionWhite {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.sectionWhite-Wide {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    position: relative;
    width: 1030px;
    height: auto;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contentBox-Standard {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 820px;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.contentBox-Wide {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1030px;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.contentBox-Center {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 820px;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
    color:#9900FF;
}

.contentBox-Row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 820px;
    height: auto;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.gridDollop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.gridDollop-List {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 820px;
    height: auto;
    column-gap: 1rem;
    row-gap: 3rem;
}


.dollopRow-Blue {
    display: flex;
    flex-direction: row;
    width: 820px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.dollopBlue {
    display: flex;
    width: 238px;
    aspect-ratio: 1 / 1;
    padding: 15px;
    background-color: #004592;
    border: 3px solid #004592;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    align-items: center;
    align-content:center;
    justify-content: center;
  }

  .dollopRed {
    display: flex;
    width: 240px;
    aspect-ratio: 1 / 1;
    padding: 15px;
    background-color: #D43030;
    border: 3px solid #D43030;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    align-items:center;
    justify-content: center;
    overflow-wrap: break-word;
  }

  .dollopGreen {
    display: flex;
    width: 238px;
    aspect-ratio: 1 / 1;
    padding: 15px;
    background-color: #00FFB3;
    border: 3px solid #00FFB3;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

.blackBox {
    display: Flex;
    width: 14rem;
    height: 16rem;
    box-sizing: border-box;
    border: 2pt solid #000000;
    padding: 10px;
    line-height: 39px;
    font-family: 'Archivo', sans-serif;
    font-size: 26pt;
    font-weight: 600;
    color:#000000;
    align-items: center;
    text-align: left;
    overflow-wrap: break-word;
}

#quote {
    display: flex;
    width: 630px;
    padding: 20px, 10px;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #004592;
}


.bulletsRowBox {
    display: flex;
    width:1240px;
    margin-bottom: 2rem;
}
.bulletListMain {
    width: 400px;
    text-align: center;
}
.listItems-plain li {
    list-style: none;
}
.listItems-plain {
    margin:0 auto;
    padding: 0;
    align-content:center;
    text-align: center;
}
/*nav bar*/

.navbar {
    width: 100%;
    background-color:  #000D53 !important;
    justify-items: space-between;
    align-items: space-between;
    align-self: center;

}

.dropdown {
    display: none;
}

.navbar-brand {
    display: flex;
    font-family: 'Alata', sans-serif;
    font-size: 36px;
    font-weight: 400;
    border: 3px solid white;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-collapse li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 2rem;
}

/*footer*/

#footer {
    display: flex;
    width: 100%;
    height: 273px;
    justify-content: center;
    background-color: black;
}

#footerGrid {
    display: grid;
    width: 1140px;
    height: 273px;
    justify-content: center;
    grid-template-rows: 75% 25%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "contactHeader scHeader"
    " fineprint fineprint";
    background-color: black;
}
.footerBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    padding-block-start: 10px;
    width: 273px;
    height: 100px;
      
}
.footerBox2 {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
  
}

#contactHeader {
    grid-area: contactHeader;
  
}


#scHeader {
    grid-area: scHeader;
  
}


.fineprint {
    grid-area: fineprint;
    justify-self: center;
    align-self: end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #ffffff;
}


#scIcons img {
    width: 64px;
    height: 64px;
}
#contactHeader h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #FFAB2E;
  color: #ffffff;
  background-color: #000000 !important;
}

#contactHeader p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  text-align:center;
  color: #ffffff;
}

#scHeader h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #FFAB2E;
  color: #ffffff;
  background-color: #000000 !important;
}

/*return to top button*/
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width:fit-content;
    height:fit-content;
    bottom: 32px; /* Place the button at the bottom of the page */
    right: 32px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ff28B1; /* Set a background color */
    color: #000000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 12px 12px 12px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 24px; /* Increase font size */
    align-items: center;
    box-shadow: 3px 3px 4px #E5E5E5;
  }
  
  #topBtn:hover {
    background-color: #BCBCBC; /* Add a dark-grey background on hover */
  }

  /*Media Queries*/

  @media screen and (max-width: 600px) {
    .contentBox-Standard, .contentBox-Wide {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 326px;
        align-content: flex-start;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .contentBox-Row {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 326px;
        height: auto;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        gap: 2rem;
    }

    h1 {
        font-weight: 800;
        font-size: 76px;
        line-height: 120px;
        letter-spacing: 00.1em;
        padding-left: 15px;
        padding-right: 15px;
        color: #ffffff;
        background-color: #9900FF;
    }

    p {
        font-size: 18pt;
    }

    ul, li {
        width: 300px;
        font-size: 20pt;
    }

    #listItem-Center {
        left: 0;
        width: 280px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #64A4EB;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px;
    }
    
    .heroItems {
        display: flex;
        flex-direction: column;
        width: 20.4rem;
        height: auto;
        align-items: center;
        padding: 0 2rem 0 2rem;
    }
    
    #textHero.heroItems {
        gap:2rem;
        padding-top: 2rem;
    }

    #purple.lineArt, #orange.lineArt, #blue.lineArt {
        width: 326px;
        height: 16px;
    }

    .boxHeader-Pink, .boxHeader-Purple {
        width: 326px;
        font-size: 24pt;
    }

    #boxHeader-Small {
        font-size: 24pt;
        height: auto;
    }

    #quote {
        width: 326px;
    }

   .gridDollop {
    grid-template-columns: 100%;
   }

   .dollopRow-Blue {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.gridDollop-List {
    display: grid;
    grid-template-columns: 100%;
    width: 326px;
    height: auto;
    column-gap: none;
    row-gap: 2rem;
}

#footerGrid {
    display: grid;
    width: 100%;
    height: max-content;
    justify-content: center;
    grid-template-rows: 40% 45% 15%;
    grid-template-columns: 326px;
    grid-template-areas:
    "contactHeader"
    "scHeader"
    " fineprint";
    background-color: black;
}

.footerBox, .footerBox2 {
    position: relative;
    height: auto;
    margin-top: 2rem;

}
  }